@layer utilities {
  .tec-nav-bg-gradient {
    background: rgb(38, 1, 193);
    background: linear-gradient(
      0deg,
      rgba(24, 17, 131, 1) 0%,
      rgba(34, 3, 174, 1) 100%
    );
  }
  .tec-body-bg-gradient {
    background: rgb(24, 17, 131);
    background: linear-gradient(
      0deg,
      rgba(24, 17, 131, 0) 90%,
      rgba(24, 17, 131, 1) 100%
    );
  }
  .tec-bg-unicorn-1 {
    background: linear-gradient(
      -40deg,
      theme("colors.tec-yellow"),
      theme("colors.tec-light-blue")
    );
  }
  .tec-bg-unicorn-2 {
    background: linear-gradient(
      145deg,
      #000,
      theme("colors.tec-blue"),
      theme("colors.tec-yellow")
    );
  }

  @variants responsive {
    .tec-text-outline-blue-1 {
      -webkit-text-stroke: 1px theme("colors.tec-light-blue");
      color: transparent;
    }
    .tec-text-outline-blue-2 {
      -webkit-text-stroke: 2px theme("colors.tec-light-blue");
      color: transparent;
    }
    .tec-text-outline-blue-3 {
      -webkit-text-stroke: 3px theme("colors.tec-light-blue");
      color: transparent;
    }

    .tec-text-outline-unicorn-2 {
      background: -webkit-linear-gradient(
        top,
        theme("colors.tec-yellow"),
        theme("colors.tec-light-blue")
      );
      -webkit-background-clip: text;
      -webkit-text-stroke: 2px transparent;
      color: black;
    }
    .tec-text-outline-unicorn-4 {
      background: -webkit-linear-gradient(
        top,
        theme("colors.tec-yellow"),
        theme("colors.tec-light-blue")
      );
      -webkit-background-clip: text;
      -webkit-text-stroke: 4px transparent;
      color: black;
    }

    .tec-text-unicorn {
      background: -webkit-linear-gradient(
        top,
        theme("colors.tec-yellow"),
        theme("colors.tec-light-blue")
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
