@import "tailwindcss/base";

@import "tailwindcss/components";
@import "./custom-components.css";

@import "tailwindcss/utilities";
@import "./custom-utilities.css";

@layer base {
  @font-face {
    font-family: "Bai Jamjuree";
    font-weight: 400;
    src: url("/fonts/bai-jamjuree-latin-400-normal.woff2") format("woff2"),
      url("/fonts/bai-jamjuree-latin-400-normal.woff") format("woff");
  }

  @font-face {
    font-family: "Bai Jamjuree";
    font-weight: 600;
    src: url("/fonts/bai-jamjuree-latin-600-normal.woff2") format("woff2"),
      url("/fonts/bai-jamjuree-latin-600-normal.woff") format("woff");
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 200;
    src: local(""), url("/fonts/inter-v3-latin-200.woff2") format("woff2"),
      url("/fonts/inter-v3-latin-200.woff") format("woff");
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    src: local(""), url("/fonts/inter-v3-latin-300.woff2") format("woff2"),
      url("/fonts/inter-v3-latin-300.woff") format("woff");
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/inter-v3-latin-regular.woff2") format("woff2"),
      url("/fonts/inter-v3-latin-regular.woff") format("woff");
  }

  html {
    background-color: #000;
  }

  p {
    @apply pb-1;
  }

  a {
    @apply text-tec-yellow hover:text-tec-yellow;
  }

  h1 {
    @apply font-bai-jamjuree;
  }

  h2 {
    @apply pb-3 text-xl sm:text-2xl lg:text-3xl sm:pb-8 font-bai-jamjuree;
  }
}
