@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "~@fontsource/bai-jamjuree/latin-400.css";
  @import "~@fontsource/bai-jamjuree/latin-600.css";

  .bai-jamjuree {
    font-family: "Bai Jamjuree";
  }

  html {
    background-color: #000;
  }

  h2 {
    @apply text-xl sm:text-2xl lg:text-3xl pb-3 sm:pb-8;
  }

  p {
    @apply pb-1;
  }

  a {
    @apply text-tec-yellow hover:text-tec-yellow;
  }
}

@layer components {
  .tec-bg-gradient-1 {
    background: rgb(38, 1, 193);
    background: linear-gradient(
      0deg,
      rgba(24, 17, 131, 1) 0%,
      rgba(34, 3, 174, 1) 100%
    );
  }

  .tec-bg-gradient-2 {
    background: rgb(24, 17, 131);
    background: linear-gradient(
      0deg,
      rgba(24, 17, 131, 0) 90%,
      rgba(24, 17, 131, 1) 100%
    );
  }

  .tec-markdown ol {
    @apply list-decimal;
  }
  .tec-markdown li {
    @apply pb-5;
  }
}

@layer utilities {
  @variants responsive {
    .tec-text-outline-blue-1 {
      -webkit-text-stroke: 1px #03b3ff;
      color: transparent;
    }

    .tec-text-outline-blue-2 {
      -webkit-text-stroke: 2px #03b3ff;
      color: transparent;
    }

    .tec-text-outline-unicorn-2 {
      background: -webkit-linear-gradient(top, #defb48, #03b3ff);
      -webkit-background-clip: text;
      -webkit-text-stroke: 2px transparent;
      color: black;
    }
    .tec-text-outline-unicorn-4 {
      background: -webkit-linear-gradient(top, #defb48, #03b3ff);
      -webkit-background-clip: text;
      -webkit-text-stroke: 4px transparent;
      color: black;
    }
  }
}
