@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Bai Jamjuree";
    font-weight: 400;
    src: url("/fonts/bai-jamjuree-latin-400-normal.woff2") format("woff2"),
      url("/fonts/bai-jamjuree-latin-400-normal.woff") format("woff");
  }

  @font-face {
    font-family: "Bai Jamjuree";
    font-weight: 600;
    src: url("/fonts/bai-jamjuree-latin-600-normal.woff2") format("woff2"),
      url("/fonts/bai-jamjuree-latin-600-normal.woff") format("woff");
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 200;
    src: local(""), url("/fonts/inter-v3-latin-200.woff2") format("woff2"),
      url("/fonts/inter-v3-latin-200.woff") format("woff");
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    src: local(""), url("/fonts/inter-v3-latin-300.woff2") format("woff2"),
      url("/fonts/inter-v3-latin-300.woff") format("woff");
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/inter-v3-latin-regular.woff2") format("woff2"),
      url("/fonts/inter-v3-latin-regular.woff") format("woff");
  }

  html {
    background-color: #000;
  }
  p {
    @apply pb-1;
  }

  a {
    @apply text-tec-yellow hover:text-tec-yellow;
  }

  h1 {
    @apply font-bai-jamjuree;
  }

  h2 {
    @apply pb-3 text-xl sm:text-2xl lg:text-3xl sm:pb-8 font-bai-jamjuree;
  }
}

@layer components {
  .tec-bg-gradient-1 {
    background: rgb(38, 1, 193);
    background: linear-gradient(
      0deg,
      rgba(24, 17, 131, 1) 0%,
      rgba(34, 3, 174, 1) 100%
    );
  }

  .tec-bg-gradient-2 {
    background: rgb(24, 17, 131);
    background: linear-gradient(
      0deg,
      rgba(24, 17, 131, 0) 90%,
      rgba(24, 17, 131, 1) 100%
    );
  }

  .tec-markdown ol {
    @apply list-decimal;
  }
  .tec-markdown li {
    @apply pb-5;
  }

  .tec-container {
    @apply w-full px-10 lg:px-0 lg:max-w-5xl lg:mx-auto;
  }

  .tec-wg-hero-body p {
    @apply pb-5 lg:pb-10;
  }

  .tec-wg-desc:hover ~ div {
    @apply opacity-0;
  }
}

@layer utilities {
  @variants responsive {
    .tec-text-outline-blue-1 {
      -webkit-text-stroke: 1px #03b3ff;
      color: transparent;
    }
    .tec-text-outline-blue-2 {
      -webkit-text-stroke: 2px #03b3ff;
      color: transparent;
    }
    .tec-text-outline-blue-3 {
      -webkit-text-stroke: 3px #03b3ff;
      color: transparent;
    }

    .tec-text-bg-unicorn-1 {
      background: linear-gradient(-40deg, #defb48, #03b3ff);
    }
    .tec-text-bg-unicorn-2 {
      background: linear-gradient(145deg, #000, #08187e, #defb48);
    }

    .tec-text-outline-unicorn-2 {
      background: -webkit-linear-gradient(top, #defb48, #03b3ff);
      -webkit-background-clip: text;
      -webkit-text-stroke: 2px transparent;
      color: black;
    }
    .tec-text-outline-unicorn-4 {
      background: -webkit-linear-gradient(top, #defb48, #03b3ff);
      -webkit-background-clip: text;
      -webkit-text-stroke: 4px transparent;
      color: black;
    }
    .tec-text-unicorn {
      background: -webkit-linear-gradient(top, #defb48, #03b3ff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
